######################
# Compiled binaries
######################

*.elf
*.o
*.e
*.d

######################
# simulation
######################

build/
gtkw_files/
*.q
*.out
*.vcd
*.fst
*.fsdb
*.dat
*.log
*.vcd
a.out
*.vvp
*.f
*.dump
*.tmp
*.vpi

######################
# Editor
######################

*~
.*.swp
.*.swo
*#
*.bak
.vscod

######################
# Python
######################

__pycache__/
*.egg-info/
dist/
venv/
.venv
.vscode/
umi/_version.py
