######################
# Compiled binaries
######################

*.elf
*.o
*.e
*.d

######################
# simulation
######################

*.q
*.vcd
*.fst
build/
gmon.out
coverage.dat
*.log
*.vcd
a.out
*.vvp
*.f

######################
# Editor
######################

*~
.*.swp
.*.swo
*#
*.bak
.vscod

######################
# Python
######################

__pycache__/
*.egg-info/
dist/
venv/
.venv