[build-system]
requires = [
    "setuptools >= 61.2",
    "setuptools_scm[toml] >= 6.2"
]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
# Presence of this section activates setuptools_scm, even though it's empty

[project]
name = "umi"
authors = [{name = "Zero ASIC"}]
description = "Universal Memory Interface (UMI)"
readme = "README.md"
urls = {Homepage = "https://github.com/zeroasiccorp/umi"}
requires-python = ">= 3.8"
license = {file = "LICENSE"}
dependencies = [
    "siliconcompiler @ git+https://github.com/siliconcompiler/siliconcompiler.git@main",
    "lambdalib @ git+https://github.com/siliconcompiler/lambdalib.git@main"
]
dynamic = [
    "version"
]

[tool.setuptools.dynamic]
version = {attr = "umi.__version__"}

[project.optional-dependencies]
test = [
    "switchboard-hw>=0.2.17",
    "flake8==7.2.0",
    "pytest==8.4.0",
    "pytest-xdist==3.7.0",
    "pytest-timeout==2.4.0"
]

[tool.setuptools]
include-package-data = true
packages = [
    "umi"
]

[tool.check-wheel-contents]
ignore = [
    "W002"
]

[tool.pytest.ini_options]
markers = [
    "switchboard: this test requires switchboard to run"
]
testpaths = [
    "tests",
    "umi/sumi/tests",
    "umi/lumi/tests"
]
timeout = "300"
