name: Testbench CI
on:
  push:
  # Runs on all PRs
  pull_request:
  # Manual Dispatch
  workflow_dispatch:

jobs:
  get_testbenches:
    name: 'Get testbenches'

    runs-on: ubuntu-latest

    outputs:
      testbenches: ${{ steps.tests.outputs.tests }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Collect testbenches
        id: tests
        run: |
          echo "tests=$(python3 .github/workflows/bin/collect_tests.py)" >> $GITHUB_OUTPUT

  testbench:
    needs: get_testbenches
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.get_testbenches.outputs.testbenches) }}

    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/zeroasiccorp/sbtest:latest

    steps:
      - name: Check out UMI
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install requirements
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          python3 -m pip install --upgrade pip
          python3 -m pip install switchboard-hw

      - name: Run ${{ matrix.testbench }}
        run: |
          . .venv/bin/activate
          cd $(dirname "${{ matrix.testbench }}")
          ./$(basename "${{ matrix.testbench }}")
